#layout-footer{
    color: white;
    a{
        color: white;
        text-decoration: none;
    }

    background-image: linear-gradient(rgb(6, 39, 51),blue);
    padding: 5px 10px;
    display: flex;
    justify-content: flex-start;

    .footer-nav{
        ul{
            list-style: none;
        }
    }
}