body{
    margin: 0;
    /* text-align: center; */
    background-image: linear-gradient(rgb(0, 136, 255),skyblue,rgb(0, 60, 139));
    #layout-main{
        height: 100%;
        overflow: auto;
    }
}