<!-- one way to connect the differnt(webpages) with there different (style-files): through (link-tag): -->
<!-- here we use the (link-tag): so we can connect the (user_profile) page with its own (style-file) -->


<!-- IMP = if we are using the (link-tag) for connect the  one (ejs-file) with its (stlye-file):
=> then we have (set) some functions or we can say some (properties)  in the (server-file):
=> so that our (link-tag) does not show under the (body-tag) of the (layout-ejs) file
=> it should show on the (head-tag) of the (layout-file): -->

<link rel="stylesheet" href="/css/user_profile.css">


<h1>Codeial / profile-page</h1>