#home-container {
  display: flex; }
  #home-container #feed-posts {
    width: 70%;
    padding: 10px; }
  #home-container #user-friends {
    width: 30%;
    padding: 10px;
    border-left: 2px solid #49b6da;
    height: 100%; }

body {
  background-image: linear-gradient(#02cebd, #04bed3, #0878a4); }
