body{
    margin: 0;
   /* text-align: center; */

   /// here we are using the (id) under the  (body-tag): because of  the (scss):
   #layout-main{
    
    height: 100%;
    background-image: linear-gradient(rgb(100, 198, 237),rgb(10, 182, 182));
   }

   
}







