/* here we gave the (style) to the (layout-file) */

body {
  margin: 0;
  text-align: center;
  margin-top: 100px;
}

body:hover{
  background-image: linear-gradient(black,rgb(135, 143, 235),darkblue);
  color: black;
}
