head {
  background-color: rgb(49, 155, 190);
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  color: rgb(0, 0, 0);
  
}

h1{
  font-size: 30px;
  display:inline-block;
  
}

#logs-page{
  
  display: inline;
  font-size: 30px;
  right: 50px;
  text-align: center;
  justify-content: space-between;
}


span a{

  color: darkblue;
  

}