body{
    margin: 0;
   /* text-align: center; */

   /// here we are using the (id) under the  (body-tag): because of  the (scss):
   #layout-main{
    
    height: 100%;
   }
}





body{
    background-image: linear-gradient(lightblue,skyblue,cyan);
}