<html>
    <head>
        <title>
            <%= title %>
        </title>

    </head>

    <body>


        <!-- here we create  header -->
        <header>
            page header
        </header>
    

        <h1>Codeial / <%= title %></h1>



        <!-- here we create footer -->
        <footer>
            page footer
        </footer>

    </body>
</html>