<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    Codeial / Profile Page
</h1>


<!-- here we show the (data) of the (user):who ever will successfully able to (login) in the browser: -->
<!-- here we (access) the data of  the (user):through the (setAuthenticatedUser) function: because in this function be basically set the (data) of the (user) to the (locals) or we can say set to (openly): so we can access or use its (data) in our (views) or we can say in our (webpages):-->

<p><%= user.name%></p>
<p><%= user.email%></p>
