.outer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  width: 30%;
  margin: auto;
  margin-top: 10%;
  text-align: center;
}

.inner{
  height: 15px;
  position: relative;
  width: 50px;
  border-radius: 25px;
  background-color: #cccccc;
  vertical-align: white;
  box-sizing: border-box;
  padding: 3px;
}

.toggler{
  height: 110%;
  width: 20%;
  background-color: black;
  border-radius:inherit;
  float: left;
}

h1{
  text-decoration: underline;
}